.container {
	display: flex;
	flex-direction: column;
}

.label {
	display: flex;
	flex-direction: column;
}

.labelText {
	font-size: 0.75rem;
	color: var(--color-primary);
}

.input {
	height: 2rem;
	line-height: 2rem;
	font-size: 0.75rem;
	padding: 0 0.5rem;
	margin: 0.5rem 0;
	border: 0.1rem solid var(--color-secondary-light);
	background-color: var(--color-tertiary);
	color: var(--color-primary);
	border-radius: 0.5rem;
	transition: 125ms ease-out;
}

.input:focus,
.input:hover {
	outline: none;
	border-color: var(--color-primary);
	transition: 125ms ease-in;
}

.file {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	cursor: pointer;
}

.submit {
	padding: 0.5rem;
	margin-top: 1rem;
	color: var(--color-secondary);
	background-color: var(--color-primary);
	border: 0.1rem solid transparent;
	border-radius: var(--size-radius);
	cursor: pointer;
	transition: 125ms ease-out;
}

.submit:hover {
	background-color: transparent;
	border-color: var(--color-primary);
	color: var(--color-primary);
	transition: 125ms ease-in;
}

.error .input {
	border-color: var(--color-danger);
	color: var(--color-danger);
}

.error .message {
	font-size: 0.75rem;
	color: var(--color-danger);
}

.switch {
	position: relative;
	width: 2rem;
	height: 1rem;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 0.5rem;
	background-color: var(--color-secondary);
	transition: 225ms ease-out;
}

.slider:before {
	position: absolute;
	content: '';
	height: 0.7rem;
	width: 0.7rem;
	left: 0.15rem;
	bottom: 0.15rem;
	border-radius: 50%;
	background-color: var(--color-secondary-lighten);
	transition: 225ms ease-out;
}

input:checked + .slider {
	background-color: var(--color-success);
}

input:checked + .slider:before {
	transform: translateX(1rem);
}
