.content {
	flex: 1;
	max-width: 40rem;
	min-width: 20rem;
}

.list {
	width: 100%;
}

.thumbnail {
	width: 3rem;
	height: 3rem;
	object-fit: cover;
}

.actionContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	gap: 0.5rem;
}
