.container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: var(--size-radius);
	cursor: pointer;
}

.primary {
	color: var(--color-secondary-lighten);
	background-color: var(--color-primary);
	border: 0.1rem solid transparent;
	transition: 125ms ease-out;
}

.primary:hover {
	color: var(--color-primary);
	background-color: var(--color-secondary-lighten);
	border-color: var(--color-primary);
	transition: 125ms ease-in;
}

.secondary {
	color: var(--color-secondary-dark);
	border: 0.1rem solid var(--color-secondary);
	background-color: transparent;
	transition: 125ms ease-out;
}

.secondary:hover {
	background-color: var(--color-secondary);
	color: var(--color-primary);
	transition: 125ms ease-in;
}
