.container {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	color: var(--color-primary);
}

.striped:nth-child(2n + 1) {
	background-color: var(--color-secondary-lighten);
}

.clickable {
	cursor: pointer;
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 0.75rem;
	height: 4rem;
	align-items: center;
	padding: 0 0.5rem;
	border: 0.1rem solid transparent;
	border-radius: var(--size-radius);
}

.row:hover {
	border-color: var(--color-secondary);
}

.header {
	display: grid;
	padding: 0 1rem;
}

.cell {
	width: 100%;
}

.orderContainer {
	display: grid;
	grid-template-rows: [up] 1fr [down] 1fr;
	height: 60%;
}

.up {
	grid-area: up;
}

.down {
	grid-area: down;
}

.arrow {
	color: var(--color-secondary);
	cursor: pointer;
	transition: 125ms ease-out;
}

.arrow:hover {
	color: var(--color-primary);
	transition: 125ms ease-in;
}

.dragged {
	cursor: grabbing;
}
