.upload {
	flex: 0.5;
	max-width: 20rem;
}

.content {
	flex: 1;
	max-width: 40rem;
	min-width: 20rem;
}

.thumbnail {
	width: 4rem;
	height: 4rem;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.actionContainer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
