.container {
	display: flex;
	flex-direction: column;
	height: max-content;
	background-color: var(--color-white);
	border-radius: var(--size-radius);
	padding: 1rem;
	margin: 1rem;
}

.header {
	display: flex;
	padding-bottom: 0.5rem;
	border-bottom: 0.1rem solid var(--color-gray);
	font-size: 1.25rem;
	font-weight: 700;
}

.body {
	padding: 1rem 0;
}
