.container {
	display: inline-grid;
	grid-template-columns: 1fr 1rem 5.5rem 2rem;
	grid-column: 1 / -1;
	gap: 1rem;
	align-items: center;
	background-color: var(--color-tertiary);
	border-bottom: 0.1rem solid var(--color-secondary-light);
	padding: 0 2rem;
	height: 3rem;
}

.link {
	color: var(--color-secondary);
	transition: 125ms ease-out;
}

.link:hover {
	color: var(--color-primary);
	transition: 125ms ease-in;
}
