.container {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: var(--size-radius);
	color: var(--color-primary);
	background-color: var(--color-secondary);
	font-size: 0.75rem;
}

.container:hover {
	text-decoration: none;
	opacity: 0.75;
}
